---
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from '../components/buttons/Social.astro';

const pageTitle = "my links";
---

<style>
    .headerthingy {
        display: flex;
        justify-content:center;
        align-items: center;
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    
    <h2 class="headerthingy">temp</h2>

</BaseLayout>