---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/cards/Social.astro";
const pageTitle = "home";
---

<!-- <script type="module" src="https://unpkg.com/@fluentui/web-components">
</script> -->

<style>
	h3 {
		margin: 0;
		color: #202020;
	}

	.warning {
		border-radius: 0.5rem;
		background-color: #f1ad8a;
		padding: 0.5rem;
		margin-top: 2rem;

		display: flex;
		justify-content: center;
	}

	.mainColumns {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: masonry;
		column-gap: 0.5rem;
		row-gap: 0.5rem;
	}

	.mainColumns > * {
		word-wrap: break-word;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<div class="warning">
		<h3>this site is still a massive WIP, so yeah. you can mess around but there isnt a lot to look at yet</h3>
	</div>

	<h1>testing stuff here please stay back it may explode at any second</h1>
	
	<div class="mainColumns">
		<Card title="testing yippee">
			<p>hey look a card</p>
		</Card>
		<Card title="part 2">
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</Card>
		<Card title="oh ma gah">
			<p>:3 :3 :3 :3 :3 :3 :3 :3 :3 :3 :3 :3 :3</p>
		</Card>
		<Card title="part 4">
			<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</Card>
	</div>
	
</BaseLayout>